CREATE DATABASE QLDDH
go
USE QLDDH
GO
/****** Object:  Table [dbo].[GiaHH]    Script Date: 26/10/2023 9:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaHH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHH] [char](5) NULL,
	[GiaBan] [numeric](18, 0) NULL,
	[NgayBDBan] [date] NULL,
	[NgayKT] [date] NULL,
 CONSTRAINT [PK_GiaHH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 26/10/2023 9:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHH] [char](5) NOT NULL,
	[TENHH] [nvarchar](50) NULL,
	[DVT] [nvarchar](10) NULL,
	[SLCON] [smallint] NULL,
	[DONGIAHH] [int] NULL,
 CONSTRAINT [PK__HANGHOA__603F20C2432F5768] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TTSP]    Script Date: 26/10/2023 9:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TTSP]
AS
SELECT dbo.HANGHOA.MAHH, dbo.HANGHOA.TENHH, dbo.GiaHH.GiaBan
FROM     dbo.HANGHOA INNER JOIN
                  dbo.GiaHH ON dbo.HANGHOA.MAHH = dbo.GiaHH.MAHH
WHERE  (dbo.GiaHH.NgayBDBan <= GETDATE()) AND (GETDATE() <= dbo.GiaHH.NgayKT) OR
                  (dbo.GiaHH.NgayBDBan <= GETDATE()) AND (dbo.GiaHH.NgayKT IS NULL)
GO
/****** Object:  Table [dbo].[CHITIETDATHANG]    Script Date: 26/10/2023 9:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATHANG](
	[MADAT] [nvarchar](10) NOT NULL,
	[MAHH] [char](5) NOT NULL,
	[SLDAT] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADAT] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwChiTietDH]    Script Date: 26/10/2023 9:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwChiTietDH]
as
select madat, tenHH, SLDat
from CHITIETDATHANG c join HANGHOA h
on c.MAHH=h.mahh
GO
/****** Object:  Table [dbo].[CHITIETGIAOHANG]    Script Date: 26/10/2023 9:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETGIAOHANG](
	[MAGIAO] [nvarchar](10) NOT NULL,
	[MAHH] [char](5) NOT NULL,
	[SLGIAO] [smallint] NULL,
	[DONGIAGIAO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGIAO] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 26/10/2023 9:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADAT] [nvarchar](10) NOT NULL,
	[NGAYDAT] [smalldatetime] NOT NULL,
	[MAKH] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 26/10/2023 9:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
	[DIACHI] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUGIAO]    Script Date: 26/10/2023 9:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUGIAO](
	[MAHH] [char](5) NOT NULL,
	[NGAYHL] [smalldatetime] NOT NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC,
	[NGAYHL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUGIAOHANG]    Script Date: 26/10/2023 9:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUGIAOHANG](
	[MAGIAO] [nvarchar](10) NOT NULL,
	[NGAYGIAO] [smalldatetime] NOT NULL,
	[MADAT] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGIAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26/10/2023 9:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](30) NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_history]    Script Date: 26/10/2023 9:01:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_history](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_history] [varchar](200) NOT NULL,
	[update_at] [datetime] NOT NULL,
	[operation] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETDATHANG] ([MADAT], [MAHH], [SLDAT]) VALUES (N'DH01', N'DM   ', 11)
INSERT [dbo].[CHITIETDATHANG] ([MADAT], [MAHH], [SLDAT]) VALUES (N'DH01', N'TL   ', 5)
INSERT [dbo].[CHITIETDATHANG] ([MADAT], [MAHH], [SLDAT]) VALUES (N'DH02', N'TL   ', 4)
GO
INSERT [dbo].[CHITIETGIAOHANG] ([MAGIAO], [MAHH], [SLGIAO], [DONGIAGIAO]) VALUES (N'GH01', N'BU   ', 15, 300000)
INSERT [dbo].[CHITIETGIAOHANG] ([MAGIAO], [MAHH], [SLGIAO], [DONGIAGIAO]) VALUES (N'GH01', N'DM   ', 10, 1000000)
INSERT [dbo].[CHITIETGIAOHANG] ([MAGIAO], [MAHH], [SLGIAO], [DONGIAGIAO]) VALUES (N'GH01', N'TL   ', 4, 5000000)
GO
INSERT [dbo].[DONDATHANG] ([MADAT], [NGAYDAT], [MAKH]) VALUES (N'DH01', CAST(N'2011-02-02T00:00:00' AS SmallDateTime), N'KH001')
INSERT [dbo].[DONDATHANG] ([MADAT], [NGAYDAT], [MAKH]) VALUES (N'DH02', CAST(N'2011-02-12T00:00:00' AS SmallDateTime), N'KH003')
INSERT [dbo].[DONDATHANG] ([MADAT], [NGAYDAT], [MAKH]) VALUES (N'DH03', CAST(N'2012-01-22T00:00:00' AS SmallDateTime), N'KH003')
GO
SET IDENTITY_INSERT [dbo].[GiaHH] ON 

INSERT [dbo].[GiaHH] ([ID], [MAHH], [GiaBan], [NgayBDBan], [NgayKT]) VALUES (1, N'BU   ', CAST(350000 AS Numeric(18, 0)), CAST(N'2023-01-01' AS Date), CAST(N'2023-04-30' AS Date))
INSERT [dbo].[GiaHH] ([ID], [MAHH], [GiaBan], [NgayBDBan], [NgayKT]) VALUES (2, N'CD   ', CAST(800000 AS Numeric(18, 0)), CAST(N'2023-01-01' AS Date), CAST(N'2023-04-30' AS Date))
INSERT [dbo].[GiaHH] ([ID], [MAHH], [GiaBan], [NgayBDBan], [NgayKT]) VALUES (3, N'DM   ', CAST(1500000 AS Numeric(18, 0)), CAST(N'2023-01-01' AS Date), CAST(N'2023-04-30' AS Date))
SET IDENTITY_INSERT [dbo].[GiaHH] OFF
GO
INSERT [dbo].[HANGHOA] ([MAHH], [TENHH], [DVT], [SLCON], [DONGIAHH]) VALUES (N'BU   ', N'BÀN ỦI PHILIP', N'CÁI', 70, 350000)
INSERT [dbo].[HANGHOA] ([MAHH], [TENHH], [DVT], [SLCON], [DONGIAHH]) VALUES (N'CD   ', N'NỒI CƠM ĐIỆN SHARP', N'CÁI', 94, 700000)
INSERT [dbo].[HANGHOA] ([MAHH], [TENHH], [DVT], [SLCON], [DONGIAHH]) VALUES (N'DM   ', N'ĐẦU MÁY SHARP', N'CÁI', 68, 1200000)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIENTHOAI], [DIACHI]) VALUES (N'KH001', N'CỬA HÀNG PHÚ LỘC', N'ĐÀ NẴNG', N'5113246135')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIENTHOAI], [DIACHI]) VALUES (N'KH002', N'CỬA HÀNG HOÀNG GIA', N'QUẢNG NAM', N'5106333444')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIENTHOAI], [DIACHI]) VALUES (N'KH003', N'NGUYỄN LAN ANH', N'HUẾ', N'988148248')
GO
INSERT [dbo].[LICHSUGIAO] ([MAHH], [NGAYHL], [DONGIA]) VALUES (N'BU   ', CAST(N'2011-01-01T00:00:00' AS SmallDateTime), 300000)
INSERT [dbo].[LICHSUGIAO] ([MAHH], [NGAYHL], [DONGIA]) VALUES (N'BU   ', CAST(N'2012-01-01T00:00:00' AS SmallDateTime), 350000)
INSERT [dbo].[LICHSUGIAO] ([MAHH], [NGAYHL], [DONGIA]) VALUES (N'CD   ', CAST(N'2011-06-01T00:00:00' AS SmallDateTime), 650000)
GO
INSERT [dbo].[PHIEUGIAOHANG] ([MAGIAO], [NGAYGIAO], [MADAT]) VALUES (N'GH01', CAST(N'2011-02-02T00:00:00' AS SmallDateTime), N'DH01')
INSERT [dbo].[PHIEUGIAOHANG] ([MAGIAO], [NGAYGIAO], [MADAT]) VALUES (N'GH02', CAST(N'2011-02-15T00:00:00' AS SmallDateTime), N'DH02')
INSERT [dbo].[PHIEUGIAOHANG] ([MAGIAO], [NGAYGIAO], [MADAT]) VALUES (N'GH03', CAST(N'2012-01-23T00:00:00' AS SmallDateTime), N'DH03')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_HH]    Script Date: 26/10/2023 9:01:03 PM ******/
ALTER TABLE [dbo].[HANGHOA] ADD  CONSTRAINT [UC_HH] UNIQUE NONCLUSTERED 
(
	[TENHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DONDATHANG] ADD  CONSTRAINT [DF_NGAY_DAT]  DEFAULT (getdate()) FOR [NGAYDAT]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ('ÐÀ N?NG') FOR [DIACHI]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_MADAT] FOREIGN KEY([MADAT])
REFERENCES [dbo].[DONDATHANG] ([MADAT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_CTDH_MADAT]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_MAHH] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_CTDH_MAHH]
GO
ALTER TABLE [dbo].[CHITIETGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_MAGIAO] FOREIGN KEY([MAGIAO])
REFERENCES [dbo].[PHIEUGIAOHANG] ([MAGIAO])
GO
ALTER TABLE [dbo].[CHITIETGIAOHANG] CHECK CONSTRAINT [FK_MAGIAO]
GO
ALTER TABLE [dbo].[CHITIETGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_MAHH] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[CHITIETGIAOHANG] CHECK CONSTRAINT [FK_MAHH]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_MKH]
GO
ALTER TABLE [dbo].[GiaHH]  WITH CHECK ADD  CONSTRAINT [FK_GiaHH_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[GiaHH] CHECK CONSTRAINT [FK_GiaHH_HANGHOA]
GO
ALTER TABLE [dbo].[LICHSUGIAO]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUGIAO_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[LICHSUGIAO] CHECK CONSTRAINT [FK_LICHSUGIAO_HANGHOA]
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUGIAOHANG_DONDATHANG] FOREIGN KEY([MADAT])
REFERENCES [dbo].[DONDATHANG] ([MADAT])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] CHECK CONSTRAINT [FK_PHIEUGIAOHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [CHECK_SLC] CHECK  (([SLCON]>=(0)))
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [CHECK_SLC]
GO
ALTER TABLE [dbo].[Product_history]  WITH CHECK ADD CHECK  (([operation]='DELETE' OR [operation]='INSERT'))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "HANGHOA"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "GiaHH"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 338
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TTSP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TTSP'
GO
USE [master]
GO
