USE QLHV

-- 1. 
-- a) Viết hàm thực hiện đưa vào năm sinh trả về tuổi ứng với năm sinh đó.
create procedure sp_indssv @malop char (3)
as
	select mahv, ho, ten, ngsinh, gioitinh
	from HOCVIEN
	where malop = @malop
	-- Gọi thủ tục
	exec sp_indssv 'k11'

	-- Xóa thủ tục đã có:
	drop procedure sp_indssv

-- extraEx: Viết thủ tục tính tổng số sinh viên của 1 lớp
create procedure sp_tongsosv @malop char (3), @sosv int output
as
	select @sosv = COUNT(mahv)
	from HOCVIEN
	where MALOP = 'k11'
	-- Gọi thủ tục
declare @tongsosv int	-- Khai báo biến nhận tham số ra của thủ tục
exec sp_tongsosv 'k11', @sosv = @tongsosv out
select @tongsosv

	-- Xóa thủ tục đã có
drop procedure sp_tongsosv

-- extraEx: Viết thủ tục thêm 1 sv, thủ tục sẽ trả về lỗi nếu thêm sv k thành công
create procedure sp_addStudent @mahv char(5), @ho varchar(40), @ten varchar(20), @ngsinh date, 
							@gioitinh varchar(3), @noisinh varchar(40), @malop char(3)
as
	insert into HOCVIEN(MAHV, HO, TEN, NGSINH, GIOITINH, NOISINH, MALOP)
	values(@mahv, @ho, @ten, @ngsinh, @gioitinh, @noisinh, @malop)
	if @@ROWCOUNT <= 0
		BEGIN
		raiserror ('Failed to add the student', 10, 1)
		rollback tran					-- Undo
		END

exec sp_addStudent 'K180583', 'Pham Le Minh', ' Quan', '04/03/2004', 'Nam', 'Thua Thien - Hue', 'k12'

-- b) Viết hàm thực hiện đưa vào một mã lớp trả về số sinh viên của lớp đó.

create function dbo.GetStudentCountOfClass @malop char(3)
return int
as
begin
    DECLARE @StudentCount INT;

    SELECT @StudentCount = COUNT(*)
    FROM HOCVIEN
    WHERE MALOP = @MaLop;

    RETURN @StudentCount;
END;

-- 2.
-- a) In ra danh sách các sinh viên của 1 lớp học
create procedure sp_displayStudent @malop char(3)
as
	BEGIN
	select * from HOCVIEN
	where MALOP = @malop
	END

-- b) Nhập vào 2 sinh viên, 1 môn học, tìm xem sinh viên nào có điểm thi môn học đó lần đầu tiên cao hơn.
create procedure sp_ssdiem @mahv1 char(5), @mahv2 char(5), @mamh varchar(10)
as
	declare @diemhv1 numeric(4,2), @diemhv2 numeric(4,2)
	select @diemhv1 = diem from KETQUATHI
	where LANTHI = 1 and mahv = @mahv1 and mamh = @mamh

	select @diemhv2 = diem from KETQUATHI
	where lanthi = 1 and mahv = @mahv2 and mamh = @mamh

	if @diemhv1 > @diemhv2
		print N'Student ' + @mahv1 + N' has higher grade in subject '+ @mamh + N' of student ' + @mahv2
	else if @diemhv1 < @diemhv2
		print N'Student ' + @mahv2 + N' has higher grade in subject '+ @mamh + N' of student ' + @mahv1
	else if @diemhv1 = @diemhv2
		print N'Student ' + @mahv1 + N' has the same grade in subject '+ @mamh + N' as student ' + @mahv2
	else
        print N'One or both students did not take the exam for subject ' + @mamh

drop procedure sp_ssdiem

exec sp_ssdiem 'k1103', 'k1102', 'CTDLGT'					-- Student k1103 has higher grade in subject CTDLGT of student k1102

-- c.Nhập vào 1 môn học và 1 mã sinh viên
	-- Kiểm tra xem sinh viên này có đậu môn này trong lần thi đầu tiên không?
create proc ktd1T @mahv char(5), @mamh varchar(10)		-- Kiem tra dau 1st try
as
BEGIN
	declare @tinhTrang varchar(1000)

	if exists (
		select 1 from KETQUATHI
		where MAHV = @mahv and MAMH = @mamh and LANTHI = 1 and KQUA = 'Dat'
		)
		set @tinhTrang = N'Student ' + @mahv + N' passed ' + @mamh + N' in the first take.'
	else
		set @tinhTrang = N'Student ' + @mahv + N' unpassed ' + @mamh + N' in the first take.'
	print @tinhTrang
END

drop procedure ktd1T

exec ktd1T 'k1101', 'CTDLGT'		--Student k1101 passed CTDLGT in the first take.
exec ktd1T 'k1102', 'CSDL'			--Student k1102 unpassed CSDL in the first take.
exec ktd1T 'k1103', 'CTRR'			--Student k1103 passed CTRR in the first take.

-- d.Nhập vào 1 khoa, in danh sách các sinh viên (MaSV, họ tên, ngày sinh) thuộc khoa này.
create procedure inSVListK @makhoa varchar(4)
as
BEGIN
	
