body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100vh;
    width: 250px;
    max-width: 100%;
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    /* Sử dụng đơn vị rem để linh hoạt */
    font-weight: bold;
    color: #2b2b2b;
}

.sidebar h2 img {
    height: 24px;
    margin-right: 10px;
}

.menu-item {
    display: flex;
    padding: 10px 0;
    color: #4f4f4f;
    font-size: 1rem;
    /* Đơn vị rem để linh hoạt */
    font-weight: 500;
    transition: color 0.3s ease;
}


.menu-item.active {
    color: #27ae60;
}

.menu-item .icon {
    font-size: 1.25rem;
    /* Icon cũng dùng đơn vị tương đối */
    margin-right: 15px;

}

.logo {
    font-size: 2rem;
    /* Icon cũng dùng đơn vị tương đối */
    margin-right: 15px;
}

.menu-item.active .icon {
    color: #27ae60;
}

.menu-item:hover {
    color: #27ae60;
    cursor: pointer;
}

.menu-item:hover .icon {
    color: #27ae60;
}

.sidebar .menu-section {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.settings-section {
    margin-top: auto;
    padding-top: 30px;
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
}

.sidebar-footer {
    background-color: #f7f7f7;
    height: 100px;
}


.header {
    border-bottom: 2px solid #EEEEEE;
    width: 100%;
    /* Đảm bảo header chiếm toàn bộ chiều rộng */
}

.search-bar {
    width: 400px;
    position: relative;
    /* Để định vị icon bên trong */
    margin-right: 15px;
    /* Khoảng cách giữa search bar và icon */
}

input.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    /* Đảm bảo input chiếm toàn bộ chiều rộng của search bar */
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-45%);
    color: #000000;
    font-size: 18px;
}