<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>URLRewritingServlet</servlet-name>
        <servlet-class>URLRewritingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URLServlet</servlet-name>
        <servlet-class>URLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>URLRewritingServlet</servlet-name>
        <url-pattern>/URLRewritingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URLServlet</servlet-name>
        <url-pattern>/URLServlet</url-pattern>
    </servlet-mapping>
</web-app>
